.formulario-aclaraciones .card{
  background: rgba(255, 255, 255, .5) ;
  color: #606060;
  margin-top: 8%;
  margin-left: 0%;
  width: 85%;
  border: 2px solid #ff661b;
  box-shadow: 0px 0px  10px #FF6530;
  margin-left: 60%;
}

#boton-aclaraciones{
  background-color: #94D500;
  margin-left: 1%;
}
