$azul: rgb(37, 202, 211);
$naranja-claro: rgb(255, 183, 24);
$morado: rgb(178, 78, 196);
$verde: rgb(148, 213, 0);
$rosa: rgb(234, 29, 117);
$naranja: rgb(255, 102, 27);
$rojo: rgb(246, 50, 62);
$blanco: rgb(255, 255, 255);
$verde-b: rgb(127, 199, 25);