nav {
  min-height: 100px;
  line-height: 30px;
}

.foto-perfil {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.brand-logo , .menu{
  padding-right: 5%;
  margin-left: 5%;
  margin-top: 2%;
}


img.responsive-img {
  width: 60px !important;
  height: 60px !important;
  border: 2px solid #FF6530;
}

#usuario{
    margin-top: 5%;
    .user {
      margin-top: 2%;
    }
  .perfil {
    box-shadow: 0px 0px  10px #FF6530;
    text-align: center;


    .img-perfil {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      border: 5px solid #FF6530;
    }

  }
}

#datos {
    margin: 4% 0;
}

.borde--azul {
  box-shadow: 0px 0px  10px  #25cad3;
}

.borde--amarillo {
  box-shadow: 0px 0px  10px  #ffb718;
}
.borde {

    .formulario-datos {
      padding: 2% ;

      .btn-save {
        border-radius: 20px;
      }
    }
}



.img-tarjetas {
  width: 20%;
  margin-bottom: 5%;
}

#info-tarjeta {
  display: none;
}

#contact {
  background: #393737;
  box-shadow: 0px -5px 1px #FF6530;
  padding-bottom: 3%;

  .social {
    margin: 10% ;

    .social__icon {
      display: inline-flex;
      margin-right: 6%;

      .social__icon--color {
        background: linear-gradient(25deg, #e91e63, yellow);
      }

      .social__icon--size {
        font-size: 30px;
      }
    }
  }
  .newsletter {
    margin-top: 3%;
  }
}

footer {
  background: #393737;
  text-align: center;
  margin-top: -1%;
  padding-bottom: 1%;
}


#cuentas {
  margin-top: 5%;

  .cuentas-datos {
    background-color: #FF6530;
  }

  .img-experiencia {
    width: 100%;
  }
}

.titulo-cuentas, .titulo-experiencia {
  margin-left: 5%;
}

.linea-naranja {
  border: 2px solid #FF6530;
}

.linea-gris {
  border: 1.5px solid rgba(#808080, 0.92);
}
